
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
        var urlPostBeneficiario = '@Url.Action("AdicionarBeneficiario", "Beneficiario", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/clientes")
    @Scripts.Render("~/bundles/listarBeneficiarios")
    @Scripts.Render("~/bundles/beneficiarios")
}
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")